<div class="container">
  <h2>Registrar-se</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="col-md-6">
      <div class="field">
        <%= f.label :nome_completo %><br />
        <%= f.text_field :nome, required: true %>
      </div>

      <div class="field">
        <%= f.label :matricula %><br />
        <%= f.text_field :matricula, required: true%>
      </div>

      <div class="field">
        <%= f.label :licenciatura %><br />
        <%= select("user","licenciatura",['Ciências da Natureza', 'Educação Física', 'Geografia', 'Letras: Portugês e Literaturas',
        'Matemática','Teatro', 'Napp/Dirlic'],{include_blank:"Selecione"})%>
      </div>

      <div class="field">
        <%= f.label :período %><br />
        <%= f.select :periodo,['5.º', '6.º', '7.º', '8.º', 'Pedagoga/TAE'], {include_blank:"Selecione"}%>
      </div>
    </div>

    <div class="col-md-6">
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :senha %>
        <% if @minimum_password_length %>
        <em>(Mínimo de <%= @minimum_password_length %> caracteres)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "Nova Senha" %>
      </div>

      <div class="field">
        <%= f.label :confirme_sua_senha %><br />
        <%= f.password_field :password_confirmation, autocomplete: "Nova Senha" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Registrar", :class => 'btn btn-success' %>
    </div>
    <hr />
  <% end %>
  <%= render "devise/shared/links" %>
  <%= link_to "Voltar", welcome_index_path, :class => 'btn btn-info voltar' %>
</div>
