<!DOCTYPE html>
<html>
  <head>
    <title>Sistema Estagiários</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>


    <%= yield %>

    <% if user_signed_in? %>
      <footer>
        <!-- Copyright -->
         <div class="footer-copyright text-center col-md-12 bottom">
           <div class="col-md-2 copyright">
             © 2019 Copyright
           </div>

           <div class="col-md-8 Desenvolvido_por">
             <p>Desenvolvido por: Lucas Siqueira - Bacharelado em Sistemas de Informação</p>
           </div>
         </div>
      </footer>
    <% end %>
  </body>
</html>
